// -----------------------------------------------------------------------------
// This file contains all application-wide Sass mixins.
// -----------------------------------------------------------------------------

/// Event wrapper
/// @author Harry Roberts
/// @param {Bool} $self [false] - Whether or not to include current selector
/// @link https://twitter.com/csswizardry/status/478938530342006784 Original tweet from Harry Roberts
@mixin on-event($self: false) {
  @if $self {
    &,
    &:hover,
    &:active,
    &:focus {
      @content;
    }
  } @else {
    &:hover,
    &:active,
    &:focus {
      @content;
    }
  }
}

/// Make a context based selector a little more friendly
/// @author Hugo Giraudel
/// @param {String} $context
@mixin when-inside($context) {
  #{$context} & {
    @content;
  }
}

@mixin nested-img($width : 100%, $height: 100%){
    width: $width;
    max-height: $height;
}

@mixin e($element) {
	&__#{$element} {
		@content;
	}
}

@mixin m($modifier) {
	&--#{$modifier} {
		@content;
	}
}

@mixin flex-container($width, $height, $justify: flex-start, $align: flex-start, $flex-direction: row){
  width: $width;
  display: flex;
  height: $height;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $flex-direction;
}

@mixin bg-img($url, $width : 100%, $height: 100%){
background-image: url($url);
background-repeat: no-repeat;
background-position: center;
background-size: $width $height;
}
