// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
.inner-wrapper{
  @media screen and (min-width: 1000px) {
      @include col-width(85%);
  }
}
.wrapper{
  @include flex-container(100%, 100%, center, flex-start, row);
  max-width: 1200px;
  margin: auto;
}

.header {
  @extend %white-bg;
  @include flex-container(100%, 80px, space-between, center);
  padding: 0.5em;
  a {
    color: black;
    margin: .25em;
  }
    img {
      @include nested-img(200px);
    }
}
